[submodule "3rd/Livox-SDK"]
	path = 3rd/Livox-SDK
	url = https://github.com/Livox-SDK/Livox-SDK.git
[submodule "3rd/imgui"]
	path = 3rd/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rd/glm"]
	path = 3rd/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd/Sophus"]
	path = 3rd/Sophus
	url = https://github.com/strasdat/Sophus.git
